<%- include('parts/header', { title: 'Recipe' }) %>

<section class="resipe-top">
  <h2>Recipe</h2>
  <button class="add-recipe-btn" onclick="location.href='/addrecip'">Add Recipe</button>
</section>
<%- include('parts/footer') %>